# Autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
config.log
config.status
configure
configure.scan
install-sh
missing

# Built files
_build
*.mcpack
manifest.json
natural-mystic-config.h*

# Files that are intentionally uncommitted
Build.rc.local
